body{
    background-color: #D5BDAF;
    margin: 0px;
    font-family: 微軟正黑體;
}

header{
    color:#F5EBE0;
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-family: 微軟正黑體;
}

main{
    width: 75%;
    margin: 0 auto;
}

.card{
    background-color: #E3D5CA;
    padding: 20px;
    margin: 20px 20px;
}

article{
    
    width: 100%
}
